<ion-view view-title="Book">
  <ion-content>
    <h1><center>{{currentBookTitle}}</center></h1>
    <p class="row"><span class="col">Author:</span><span class="col">{{currentBookAuthorName}}</span></p>
  	<p class="row"><span class="col">Pages:</span><span class="col">{{currentBookPagesCount}}</span></p>
    <p class="row"><span class="col">User:</span><span class="col">{{currentBookUser}}</span></p>
    <p class="row"><span class="col">Created:</span><span class="col">{{currentBookCreated}}</span></p>
    <p class="row"><span class="col">Updated:</span><span class="col">{{currentBookUpdated}}</span></p>
  </ion-content>
</ion-view>
